.grid-x.grid-margin-x.grid-margin-y
  .cell.large-8
    %h2 Posts
    #posts-list
      - if posts.count > 0
        = render 'user/posts/posts', posts: posts
      - else
        %p.margin-0 There is no post(s) here.
  .cell.large-4
    .sticky
      %h2 Create Post
      #posts-form
        = render 'user/posts/form', post: post
