#comments{id: "#{dom_id record}"}
  - comments.each do |comment|
    = render 'user/comments/comment', comment: comment

  = link_to 'See all', see_all_post_comments_path(record), data: { turbo_method: :post }, class: 'button clear margin-bottom-0 padding-0' if comments.count == Comment::TOTAL_COMMENTS_TO_DISPLAY && record.comments.count > Comment::TOTAL_COMMENTS_TO_DISPLAY
  = link_to 'See less', see_less_post_comments_path(record), data: { turbo_method: :post }, class: 'button clear margin-bottom-0 padding-0' if comments.count > Comment::TOTAL_COMMENTS_TO_DISPLAY