.grid-x.grid-margin-x.grid-margin-y.margin-top-1
  #main.cell.large-8
    #posts-form
      = render 'user/posts/form', post: @post
    #posts.grid-x.grid-margin-x.grid-margin-y
      = render 'user/posts/posts', posts: @posts
  .cell.large-4
    #profile
      = render 'user/profiles/details', user: current_user